p.jnm{
    color:whitesmoke;
    text-align: center;
    font-size: 60px;
    line-height: 2.5;
    background-color: #ff0000;
    border: 5px solid black;
    text-shadow: 3px 3px 1px black;
}

h1 {
    color:blueviolet;
    font-size:xx-large;
    text-align: center;
}

div.logo {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;

}
img.logo-nanterre {
    display: inline-block;
    height: 75%;
    width: 430px;
}

img.logo-eden {
    display: inline-block;
    height: 85%;
    width: 335px;
}
div.intro{
    color:black;
    text-align: start;
    font-size: 20px;
}

div.wrap{
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: #444444;
}
.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
  }

.navbar li {
    height: auto;
    width: 178px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #444444;
  }
.navbar a {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
  }

.navbar li:hover, a:hover {
    background-color: #444444;
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }

.navbar li:hover ul {
    display: block;
}

.navbar li ul li {
    background-color: #444444;
}

.navbar li ul li a {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #444444;
}

.navbar li ul li a:hover {
    background-color: #a3a1a1;
}

 p.info{
    color:black;
    text-align: center;
    font-size: 60px;
}
