{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}
{% block body %}
<style>
    h1 {
        color:brown;
        font: size 30%;
        text-align: center;
    }
</style>
<h1>
    Bienvenue sur la page de connextion
</h1>
{% endblock %}
